<!DOCTYPE html>
<html>
  <head>
    <title>{{ site }} - {{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://peterrobins.co.uk/css/stylesheet.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  </head>

  <body>
    <style>
      button {
        cursor: pointer;
      }
      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        /* background-color: #f9f9f9; */
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      /* Links inside the dropdown */
      .dropdown-content a {
        background-color: white;
        padding-left: 10px;
        color: black;
        text-decoration: none;
        display: block;
      }
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #f1f1f1}
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }
      /* Change the background color of the dropdown button when the dropdown content is shown */
      .dropdown:hover {
        background-color: #3e8e41;
      }
    </style>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="project_tagline"><a href="/" style="text-decoration:none; color: white">{{ site }}</a></h1>
          <div class="toolbar">
            <a href='./index.html'><button>Home</button></a>
            <div class="dropdown">
              <button>Background +</button>
              <div class="dropdown-content">
                <a href="./technologies.html">Technologies</a>
                <a href="/competition.html">Competition</a>
                <a href='./europe.html'>Europe</a>
              </div>
            </div>
            <a href='./status.html'><button>Status</button></a>
            <a href='./priorities.html'><button>Priorities</button></a>
            <a href='./plans.html'><button>Plans</button></a>
            <div class="dropdown">
              <button>Maps +</button>
              <div class="dropdown-content">
                <a href="./map.html">Map</a>
                <a href='./mapexplanation.html'>About</a>
              </div>
            </div>
            <a href='./updating.html'><button>Updating</button></a>
            <a href='./references.html'><button>References</button></a>
          </div>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Last changed: {{ edited }}</p>
        <p><a href="https://gitlab.com/-/ide/project/probins/rail/edit/master/-/src/{{ name }}.md">Suggest changes to this page</a></p>
        <!--<p><a id="forkme_banner" href="{{site.github.repository_url}}/blob/master/{% if page.layout == 'default' %}{{page.path}}{% else %}{{page.relative_path}}{% endif %}">Suggest changes to this page on GitHub</a>-->
        <!--<p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>-->
      </footer>
    </div>
  </body>
</html>
