<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site }} - {{ title }}</title>
<!-- <script data-configVars='{"css":"../../../map-make/dist/css/map-make.css","baseURL":"../../../map-make/dist/"}' src="../../../map-make/lib/initloader.js"></script> -->
<script src="https://cdn.jsdelivr.net/gh/probins/map-make@master/dist/initloader.js"></script>

<map-def style="display:none">
  <rasters>{"gb/os/light":"cUkvEtQhaSwJaijXHkaJTfnKpLs4yOGn"},osm/osm</rasters>
  <vectors>
  [{
    "id":"Electrified now",
    "group": "electric",
    "url":"./tracks/2020electrified.geojson",
    "style": {"stroke": {"color": ["elecType", {
      "L": "green",
      "T": "limegreen",
      "H": "lightseagreen",
      "WIP": "yellowgreen",
      "n": "brown"
    }], "width": ["main", {"y": 3.5, "n": 2}]}},
    "attribution": "Lines: Network Rail open data"
  },{
    "id":"Electrified 2025",
    "group": "electric",
    "url":"./tracks/2025electrified.geojson",
    "style": {"stroke": {"color": ["elecType", {
      "L": "green",
      "T": "limegreen",
      "H": "lightseagreen",
      "WIP": "yellowgreen",
      "n": "brown"
    }], "width": ["main", {"y": 3.5, "n": 2}]}},
    "attribution": "Lines: Network Rail open data",
    "noDisplay": true
  },{
    "id":"Electrified 2030",
    "group": "electric",
    "url":"./tracks/2030electrified.geojson",
    "style": {"stroke": {"color": ["elecType", {
      "L": "green",
      "T": "limegreen",
      "H": "lightseagreen",
      "WIP": "yellowgreen",
      "n": "brown"
    }], "width": ["main", {"y": 3.5, "n": 2}]}},
    "attribution": "Lines: Network Rail open data",
    "noDisplay": true
  },{
    "id":"Electrified 2035",
    "group": "electric",
    "url":"./tracks/2035electrified.geojson",
    "style": {"stroke": {"color": ["elecType", {
      "L": "green",
      "T": "limegreen",
      "H": "lightseagreen",
      "WIP": "yellowgreen",
      "n": "brown"
    }], "width": ["main", {"y": 3.5, "n": 2}]}},
    "attribution": "Lines: Network Rail open data",
    "noDisplay": true
  },{
    "id":"Battery 100km",
    "group": "battery",
    "url":"./tracks/100km.geojson",
    "style": {"stroke": {"color": ["elecType", {
      "r": "red",
      "-": "brown"
    }], "width": ["main", {"y": 3.5, "n": 2}], "lineDash": ["battery", {"b": [2, 6], "o": [5, 8], "n": [10, 8]}]}},
    "attribution": "Lines: Network Rail open data"
  },{
    "id":"Battery 200km",
    "group": "battery",
    "url":"./tracks/200km.geojson",
    "style": {"stroke": {"color": ["elecType", {
      "r": "red",
      "-": "brown"
    }], "width": ["main", {"y": 3.5, "n": 2}], "lineDash": ["battery", {"b": [2, 6], "o": [5, 8], "n": [10, 8]}]}},
    "attribution": "Lines: Network Rail open data",
    "noDisplay": true
  },{
    "id":"Battery 300km",
    "group": "battery",
    "url":"./tracks/300km.geojson",
    "style": {"stroke": {"color": ["elecType", {
      "r": "red",
      "-": "brown"
    }], "width": ["main", {"y": 3.5, "n": 2}], "lineDash": ["battery", {"b": [2, 6], "o": [5, 8], "n": [10, 8]}]}},
    "attribution": "Lines: Network Rail open data",
    "noDisplay": true
  },{
    "id":"Battery 400km",
    "group": "battery",
    "url":"./tracks/400km.geojson",
    "style": {"stroke": {"color": ["elecType", {
      "r": "red",
      "-": "brown"
    }], "width": ["main", {"y": 3.5, "n": 2}], "lineDash": ["battery", {"b": [2, 6], "o": [5, 8], "n": [10, 8]}]}},
    "attribution": "Lines: Network Rail open data",
    "noDisplay": true
  },{
    "id":"Freight",
    "url":"./tracks/frt.geojson",
    "style": {"stroke": {"color": "brown", "width": 2}},
    "attribution": "Lines: Network Rail open data",
    "noDisplay": true
  },{
    "id":"Closed",
    "url":"./tracks/closed.geojson",
    "style": {"stroke": {"color": "brown", "width": 2}},
    "attribution": "Lines: Network Rail open data",
    "noDisplay": true
  }]
  </vectors>
  <components>cursorposition,center,tooltip,featuredisplay</components>
  <lat>53</lat><lon>-1</lon><zoom>0</zoom>
</map-def>
